@CHARSET "UTF-8";

body
{
	background-color:#b0c4de;
	font-family: sans-serif;
}
.error
{
	font-size: small;
	color: red;
}

input[type="text"]
{
	border-style: solid;
	border-width: 1px;
}

input[type="submit"]
{
    border: 1px solid #006;
}

input[type="submit"]:hover {
    border: 1px solid #f00;
    background: #eef;
}

#mensaje{
    margin-left: 425px;
    margin-top:200px;
    position:absolute;
    font-size: 12px;
    
}

.box {
    background: #A9F5A9;
    border: 1px solid #000;
    float: left;
    height: 100px;
    width: 95px;
}

.titulocelda{
    text-align: center;
    font-size: 14px;
    margin-bottom: -15px;
}

.token{
    text-align: center;
    font-size: 8px;
}

#pos1-1{
    margin-top: 20px;
}