@CHARSET "UTF-8";

body
{
    background: linear-gradient(to right, rgba(76,255,189,1) 0%, rgba(204,252,47,0.7) 57%, rgba(204,252,47,0.48) 100%);
    font-family: sans-serif;
}
.error
{
    font-size: small;
    color: red;
}

input[type="text"]
{
    border-style: solid;
    border-width: 1px;
}

input[type="submit"]
{
    border: 1px solid #006;
}

input[type="submit"]:hover {
    border: 1px solid #f00;
    background: #eef;
}
.flex{
    margin-left:120px;
    display: flex;
}

#mensaje{
    text-align: center;
    font-size: 11px;
    
}

.box {
    background: white;
    border: 1px solid #000;
    float: left;
    height: 75px;
    width: 75px;
}

.titulocelda{
    text-align: center;
    font-size: 10px;
    margin-bottom: -15px;
}

.footercelda{
    margin-top:65px;
    text-align: center;
    font-size: 10px;
    
}

.token{
    text-align: center;
    font-size: 8px;
}

#pos{
    margin-top: 20px;
    width: 75px;
    height: 0px;
}

.ferrari{
    text-align: center;
    font-size: 9px;
    color:red;
}

.hamburguesa{
    text-align: center;
    font-size: 9px;
    color:orange;
}

.avion{
    text-align: center;
    font-size: 9px;
    color:blue;
}

.zapatilla{
    text-align: center;
    font-size: 9px;
    color:green;
}

.sombrero{
    text-align: center;
    font-size: 9px;
    color:purple;
}

.dado{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color:white;
}
